
#screen1{
    height: 1000px;
    background-color: #201636;
}
    

.firstScreen{
    position: absolute;
    top: 238px;
    left:61px;
    width: 1229px;
    height:767px;
    
}
#text1{
    position: absolute;
    top:193px;
    left:873px;
    width: 670px;
    height: 113px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    
    color: #FFFFFF;
}
.cloud1{
    position: absolute;
    width: 698px;
    height: 323px;
    top:550px;
    left:212px;
    background-image: url(../img/cloud1.png);
}
.cloud2{
    position: absolute;
    width: 289px;
    height: 124px;
    top:480px;
    left:114px;
    background-image: url(../img/cloud2.png);
}
.cloud3{
    position: relative;
    width: 269px;
    height: 116px;
    top:660px;
    left:535px;
    z-index: -1;
}
.eclipse1{
    position: absolute;
    width: 286px;
    height: 286px;
    top:297px;
    left:353px;
    background: #FFFFFF;
    box-shadow: 0px 0px 250px #5B4787;
    filter: blur(80px);
    z-index: -1;
}
.eclipse2{
    position: absolute;
    width: 443px;
    height: 443px;
    top: 206px;
    left: 275px;
    border: 30px solid #FFFFFF;
    border-radius: 50%;
    box-sizing: border-box;
    z-index:-1;
}
.eclipse3{
    position: absolute;
    width: 477px;
    height: 477px;
    top: 189px;
    left: 258px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    box-sizing: border-box;
    z-index:-1;
}
.eclipse4{
    position: absolute;
    width: 529px;
    height: 529px;
    top: 163px;
    left: 232px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    box-sizing: border-box;
    z-index:-1;
}
#text2{
    position: absolute;
    width:580px;
    height: 79px;
    top:301px;
    left:873px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
}
.rectangle{
    position: absolute;
    width: 670px;
    height: 54px;
    top:451px;
    left:873px;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align:center;
    color: #211637;
  
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
}
.button1{
    position: absolute;
    width: 300px;
    height: 56px;
    top:783px;
    left:1364px;
    background: #F09F0C;
    box-shadow: 0px 4px 20px #7D5103;
 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    text-decoration: none;
    color: #1F1F1F; 
}
.start{
    position: absolute;
    top:759px;
    left:934px;
}
#start{
    position: absolute;
    top:765px;
    left:1020px;
    width: 670px;
    height: 113px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;

    color: #FFFFFF;
}
#line{
    position: absolute;
    width: 92.58px;
    height: 24.35px;
    top:790px;
    left: 1250px;
}
.screen2{
    position: absolute;
    top:981px;
    background-image: url(/img/screen2.png);
}
#icon1{
    position:absolute;
    top: 129px;
    left:557px;
}
#icon2{
    position: absolute;
    top:129px;
    left:955px;
}
#icon3{
    top:129px;
    left:1360px;
    position:absolute;
}
#pod1{
left:434px;
top:257px;
}
#pod2{
    left: 834px;
    top:257px;
}
#pod3{
    top:257px;
    left:1234px;
}
#pod1, #pod2, #pod3{
    position: absolute;
    width: 370px;
    height: 224px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 23px;
text-align: center;
color: #FFFFFF;
}
.screen2{
    background-image: url(/img/screen2.png) no-repeat;
    width:100%;
    height: 783px;
    background-color: #201636;
}
.want{
    position: inherit;
    height: 484px;
    left:50px;
    top:484px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color:#FFFFFF
}
#yellow{
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    
    color: #F09F0C;
}
#question{
    position: absolute;
    width: 574px;
    height: 537px;
    top:607px;
}
#men{
    position: absolute;
    width: 496px;
    height: 737px;
    top:650px;
    left:334px;
}
body{
    background-color: #201636;
}
#true{
    position: absolute;
    left:554px;
    top: 104px;
   font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #FFFFFF;
}
#spisok{
    position: absolute;
    list-style-image: url(/img/strelka.png);
    width: 643px;
    height: 224px;
    top: 700px;
    left:950px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;
}
#spisok li{
    margin-top: 30px;
    width:450px;
    padding-left: 23px;
}
#sve4{
    position: absolute;
    width: 599px;
    height: 599px;
    top:619px;
    left:178px;
    background: #34215C;
    filter: blur(250px);
z-index: -1;}