header{
    position: absolute;
    width: 1920px;
    height: 60px;
    left: 0px;
    top: 0px;
    background: #131313;
    border-bottom: 1px solid #272727;
}
#line {
    position: absolute;
    width: 26px;
    height: 0px;
    left: 480px;
    top: 30px;

    border: 1px solid #272727;
    transform: rotate(90deg);
}
#logo{
    position: relative;
    width: 177px;
    height: 59px;
    left:387px;
    font-family: 'Caveat';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #1ACD4C;
}
#card{
    position: absolute;
    width: 214px;
    height: 59px;
    left: 519px;
    top: 0px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

#line{
    left:490px;
    position:absolute;
    border-left:1px solid #272727;
}

ul{
    list-style-type: none;
}
.menu{
    position: absolute;
    width: 1014px;
    height: 35px;
    left:650px;
    right: 387px;
    top: 22px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: right;
    text-transform: uppercase;


}
.menu a {
    margin-left: 20px;
    height: 59px;
    top: 0px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    margin-right: 30px;
    color:#FFFFFF;
}
#visit{
    color:#272727;
    text-decoration: line-through;
}
body{
    position: absolute;
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 0px;
    background: #131313;
}
#hst{
    top:140px;
    position: absolute;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 37px;

    color:yellow;
    
}
#bg{
    position: absolute;
    width: 1157px;
    height: 746px;
    left: 376px;
    top: 14px;
    background: url(../img/wall.png);
    opacity: 0.3;
}
table{
    width: 100%;
}
thead{ 
    position: absolute;
    top: 222px;
    left:31px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #727272;
}

thead td:not(:first-child){
    padding-left: 150px;

}

tbody{
    position: absolute;
    top:245px;
}
tbody tr{
position: relative;
width: 1146px;
height: 53px;
left:31px;

background: #131313;
border: 1px solid #272727;
box-sizing: border-box;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;

color: aquamarine;
}
tbody td{
    width: 180px;
    height: 53px;
    
}
tbody td:not(:first-child){
    margin-left: 120px;
}

.pagination ul, li, a{
  
    display: flex;
    color:aqua;
 
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    margin-right: 40px;
}
.pagination{
    position: relative;
    top:810px;
    left:700px;
    
    
}
